<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonny.gamehelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hub"
            android:label="@string/title_activity_hub"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.Hub" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GamesMenu"
            android:label="@string/title_activity_games_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.GamesMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsMenu"
            android:label="@string/title_activity_instructions_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.InstructionsMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Stats"
            android:label="@string/title_activity_stats"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.Stats" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RiskHelper"
            android:label="@string/title_activity_risk_helper"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.RiskHelper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiceHelper"
            android:label="@string/title_activity_dice_helper"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.DiceHelper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MonopolyHelper"
            android:label="@string/title_activity_monopoly_helper"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.jonny.gamehelper.MonopolyHelper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
